*{
	margin: 0;
	padding: 0;
}
body::-webkit-scrollbar{
	display: none;
}
.main {
	margin:0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.search-bar{
    width: 48vw;
    height: 60px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, .16);
    border-radius: 50px;
    margin-left: 27vw;
    background-color: white;
    /* z-index: 999;
	position: absolute; */
}

.search-bar > input{
    float: left;
}

input[name="arama"]{
    width: 70%;
    height: 40px;
    border: none;
    font-size: 25px;
    margin-top: 10px;
    padding-left: 10px;
    margin-left: 15px;
    /* border: 1px solid red; */
    font-family: 'Roboto Condensed';
}

input:focus{
    outline: none;
}

.arama-button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #0ACC6E;
    float: right;
    margin-right:5px;
    margin-top: 5px;
    cursor: pointer;
}

#arama-icon{
    
    font-size: 35px;
    color: white;
    margin-top: 8px;
    margin-left: 8px;
    transform: rotate(280deg);
}
.menu_resim {
	width: 100%;
	flex-direction: column;
	height: 800px;
	background-position: center;
}
.menu_resim p {
	margin-top:380px;
	margin-left: 7%;
	font-size: 100px;
	color:white;
	display: flex;
	flex-direction: column
}
.menu_bar {
	width: 100%;
	margin-top: 5px;
	display: flex;
	justify-content: center;
}
.logo {
	width: 150px;
}
.logo img{
	height: 100px;
	margin-top: 7px;
}
.menu {
	margin-top: 40px;
	display:flex;
	width: 1200px;
}
.menu ul li {
	list-style-type: none;
	display: inline-block;
	font-family: 'Roboto Condensed';
	font-weight:bold;
	font-weight:300;
}
.menu a {
	color: white;
	font-size: 25px;
	text-decoration: none;
	margin: 20px;
	margin-left: 240px;	
	border-bottom:solid 1px white;
	

}
.menu i {
	display: none;
}
.kullanıcı-logo {
	width: 220px;
}
.dropbtn {
	margin-top:20px;
	margin-left: 80px;
	border: 0.5px solid #707070;
	cursor: pointer;
	border-radius: 20px;
 	 padding: 1px 0 0 19px;
	transition: box-shadow 0.2s ease;
  	height:50px;
 	 width: 100px;
  	display:flex;
 	 flex-direction: row;
  } 
  #bobo {
    color:#707070;
    font-size: 35px;
      margin-top: 5px;
      margin-left: 7px;
  }
  #baba {
    color:#020000;
    font-size: 25px; 
    margin-top: 12px;
  } 

  .dropbtn:hover, .dropbtn:focus {
	background-color: #e9e9e9;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	border-radius: 15px;
	margin-left: -20px;
	margin-top: 10px;
	min-width: 220px;
	box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);

  font-family: "Roboto Condensed";
  }

  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  .show {display:block;}

/*     sehirler css      */

.sehirler {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	
}
.sehirler-orta {
	width: 15%;
	border-radius: 10px;
	margin-top: 5%;
	margin-left: 8%;
	box-shadow: 0 16px 32px rgba(0, 0, 0, 0.13);
}
.sehirler-icerik {
	display: flex;
}
.sehirler-resim {
	width: 40%;
	padding: 5px;
}
.sehirler-resim img {
	width: 80%;
	border-radius: 10px;
}
.sehirler-yazı {
	width: 50%;
}
.sehirler-isim {
 	font-size: 28px;
 	margin-top: 20px;
 	font-family: 'Roboto Condensed', sans-serif;
}
.sehirler-kullanıcı {
	font-size: 18px;
	margin-top: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	color: gray;
}
/*o<ellik css  */

.ozellikler{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

}
.ozellikler-orta{
	width: 15.1%;
	border-radius: 10px;
	margin-left:8%;
	margin-top: 2%;
}
.ozellikler-icerik {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ozellikler-icerik p {
	margin-top: 3%;
	font-size: 25px;
	font-family: 'Roboto Condensed';
	font-weight:bold;
	font-weight:300;
}
.ozellikler-icerik img {	
	width: 100%;
	border-radius: 10px;
}

.ozellikler-baslık {
	font-size: 60px;
	margin-left:15%;
	margin-top: 5%;
	width: 100%;
	font-family: 'Roboto Condensed';
	display: flex;
	flex-direction: column;

	
}
/*         sahalr */ 

.sahalar {
	width: 100%;
	display: flex;
	background-color: black;
	margin-top: 5%;
	flex-wrap: wrap;
	
}
.sahalar-orta {
	width: 24%;
	margin-top: 2%;
	margin-left: 8%;
	margin-bottom: 3%;
}
.sahalar-icerik{
	display: flex;	
	flex-direction: column;
}
.sahalar-icerik img {
	width: 85%;
	border-radius: 10px;

}
.sahalar-baslık {
	font-size: 50px;
	margin-left: 7.5%;
	margin-top: 2%;
	width: 100%;
	color: white;
	font-family: 'Roboto Condensed';
}
.sahalar-baslık2 {
	font-size: 25px;
	margin-left: 7.5%;
	width: 100%;
	color: white;
	font-family: 'Roboto Condensed';
}
.sahalar-icerik p{
	color:white;
	font-size: 25px;
	margin-top: 5px;
	font-weight:bold;
	font-weight:300;
	font-family: 'Roboto Condensed';
}

/*  */ 
.kayıt {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	
}
.kayıt-baslık {
	font-size: 50px;
	margin-left: 7.5%;
	margin-top: 2%;
	width: 100%;
	color: black;
	font-family: 'Roboto Condensed';
}

.kayıt-orta {
	width: 24%;
	margin-left: 8%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.kayıt-icerik{
	display: flex;
	flex-direction: column;
}
.kayıt-icerik img {
	width: 85%;
	border-radius: 10px;
}

.kayıt-icerik p{
	font-size: 30px;
	margin-top: 5px;
	padding: 5px;
	font-family: 'Roboto Condensed';
	font-weight:bold;
	font-weight:300
}

/*   kullanıcı*/

.kullanıcı {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #d3d3d3;
	
}
.kullanıcı-orta {
	width:100%;
	margin:1% 3%;
}
.kullanıcı-icerik {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;

}
.kullanıcı-icerik p {
	font-size: 25px;
	font-family: 'Roboto Condensed';
	font-weight:bold;
	font-weight:300;
}
#kontrol {
	display: none;
}
	.menu i {
  		display: none;
  		position: relative;
  		cursor: pointer;
  		color: white;
  		font-size: 35px;
  		line-height:0;
  		padding: 10px;
  		color: white;
  	}
.saha-bs {
	width: 100%;
}
/*------------------ CEP TELEFONU Görünüm kodlarımız ------------------*/
 
  @media only screen and (max-width: 768px){  
  	.menu i {
  		display: block;
  	}
  	.menu_bar {
  		justify-content: space-between;
  	}
  	.menu {
  		margin-left: 5%;
  	}
  	.menu ul {
  		position:fixed;
  		width: 100%;
  		height: 50vh;
  		left: -100%;
  		transition: all.5s;
  	}
  	.menu ul li {
  		display: block;
  	}
  	.menu ul li a{
  		font-size: 20px;
  	}
  	 #kontrol:checked ~ ul {
  	 	left: 0;
  	 }

.logo {
	width: 0;
}
.logo img {
	width: 0;
}
.kullanıcı-logo {
	margin-right: 5%;
	margin-top: 5px;
}
.menu_resim p {
	width: 100%;
	font-size:60px;
	margin-top: 410px;
}
  
/*sehirler mobil css*/
    .sehirler {
	flex-wrap: wrap;
justify-content: center;
margin-right: 4%;
}
	.sehirler-orta {
		width: 40%;
	}
	.sehirler-isim {
		font-size: 15px;
	}
	.sehirler-kullanıcı {
		font-size: 12px;
	}
	
	/*   */
.ozellikler {
	display:flex;
 	width: 100%;
 	flex-flow: nowrap;
  	overflow-x: scroll;
	}
	.ozellikler::-webkit-scrollbar{
  		display: none;
		}
		.ozellikler {
  	-ms-overflow-style:none;
			}
	.ozellikler-orta{
	display:block;
  	white-space: nowrap;
  	width: 100%;
  	padding: 20px;
	}
	.ozellikler-icerik {
		width: 20%;
	display: inline-block;
	}
	.ozellikler-icerik p  {
		font-size: 25px;
	}
	.ozellikler-icerik img {
		min-width: 230px;
		min-height:	200px;
		 object-fit: cover;	
	}
	.ozellikler-baslık {
		width: 100%;
		font-size: 32px;
	}



/*sahalar mobil css*/
	.sahalar {
	display:flex;
 	min-width: 100%;
 	flex-flow: nowrap;
  	overflow-x: scroll;
	}
	.sahalar::-webkit-scrollbar{
  		display: none;
		}
		.sahalar {
  	-ms-overflow-style:none;
			}
	.sahalar-orta{
	display:block;
  	white-space: nowrap;
  	width: 100%;
  	padding: 20px;
	}
	.sahalar-icerik {
		width: 100%;
	display: inline-block;
	}
	.sahalar-icerik p  {
		font-size: 25px;
		font-weight:bold;
		font-weight:300;
		font-family: 'Roboto Condensed';
	}
	.sahalar-icerik img {
		min-width: 230px;
		min-height:	200px;
		 object-fit: cover;	
	}
	.sahalar-baslık{
		display: none;
	}
	.sahalar-baslık2{
		display: none;
	}


/* kayıt mobil css*/
.kayıt {
	display: flex;
		width: 100%;
 	flex-flow: nowrap;
  	overflow-x: scroll;
}
.kayıt::-webkit-scrollbar{
  		display: none;
		}
		.kayıt {
  	-ms-overflow-style:none;
			}
.kayıt-orta{
	display:block;
  	white-space: nowrap;
  	width: 70%;
  	padding: 20px;
	}
	.kayıt-icerik {
		width: 100%;
	display: inline-block;
	}
	.kayıt-icerik p  {
		font-size: 30px;
	}
		.kayıt-icerik img {
		width: 230px;
		height: 200px;
		 object-fit: cover;	
	}

.search-bar{
        width: 75vw;
        height: 60px;
        box-shadow: 0 16px 32px rgba(0, 0, 0, .30);
        border-radius: 50px;
        margin-left: 12vw;
        margin-top: 3vh;
        background-color: white;
    }
    
    .search-bar > input{
        float: left;
    }


    input[name="arama"]{
        width: 70%;
        height: 40px;
        border: none;
        font-size: 25px;
        margin-top: 10px;
        padding-left: 10px;
        margin-left: 15px;
        /* border: 1px solid red; */
        font-family: 'Roboto Condensed';
    }

    input:focus{
        outline: none;
    }
    
    .arama-button{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: #0ACC6E;
        float: right;
        margin-right:5px;
        margin-top: 5px;
        cursor: pointer;
    }
    
    #arama-icon{
        
        font-size: 35px;
        color: white;
        margin-top: 8px;
        margin-left: 8px;
        transform: rotate(280deg);
    }
    .kullanıcı {
	display:flex;
 	min-width: 100%;
 	flex-flow: nowrap;
  	overflow-x: scroll;
	}
	.kullanıcı::-webkit-scrollbar{
  		display: none;
		}
		.kullanıcı {
  	-ms-overflow-style:none;
			}
	.kullanıcı-orta{
	display:block;
  	white-space: nowrap;
  	width: 100%;
  	padding: 20px;
	}
	.kullanıcı-icerik {
		width: 100%;
	display: inline-block;
	}
.kullanıcı p {
	font-size: 20px;
}

}



 