.ana{
  display:flex;
  flex-direction: row;
  align-items: center;

}
.takim-liste{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  margin-left: 7%;
  margin-top: 120px;
}
.takim-container{
  width: 400px;
  min-height: 300px;
  background-color: #EEEEEE;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 20px;
  display: "";
}

.takim-baslik{
  font-family:'Roboto';
  font-weight: 300;
  font-size: 25px;
  text-align:center;
  padding-top: 20px;
}

.kisiler{
  width: 100%;
  height: 200px;
  margin-top: 15px;
  overflow:hidden; 
  overflow-y:scroll;
}
.kisiler::-webkit-scrollbar {
  width: 0px;
}

.takim-buttonlar{
  width: 100%;
  height: 30px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  margin-top: 20px;
}
.oyuncu-ekle-button{
  width: 50%;
  height: 35px;
  background-color: #06B25F;
  border-radius: 0px 0px 0px 5px;
  cursor: pointer;
}
.takim-sil-button{
  width: 50%;
  height: 35px;
  background-color: #E61E4D;
  border-radius: 0px 0px 5px 0px;
  cursor:pointer;
}

p.oyuncu-ekle-text{
  font-family:'Roboto';
  font-weight: 300;
  font-size: 18px;
  margin-top: 5px;
  margin-left: 50px;
  color: white;
}

.takim-sil-text{
  font-family:'Roboto';
  font-weight: 300;
  font-size: 18px;
  margin-top: 5px;
  margin-left: 70px;
  color: white;
}


/*Kişi Ekleme Formu*/

*{
  margin:0;
  padding:0;
}
.oyuncu-ekle-form-arkaplan{
  padding: 0;
  margin: 0;
  top:0;
  left: 0;
  
  width: 100%;
  height: 100vh;
  display: none; 
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 1;
}

.oyuncu-ekle-form{
  width: 500px;
  height: 400px;
  background-color: white;
  margin-top: 100px;
  border-radius: 10px;
  
}

.oyuncu-ekle-form-kapat-container{
  width: 100%;
  height: 40px;
  cursor: pointer;
}

#oyuncu-ekle-form-kapat-icon{
  font-size: 25px;
  margin-top: 7px;
  float: right;
  margin-right: 10px;
}

.kisi-arama{
  width: 80%;
  height: 35px;
  margin-left: 8%;
  background-color: #EEEEEE;
  border-radius: 10px;
}

input.kisi-arama-input{
  width: 80%;
  height: 30px;
  background-color: #EEEEEE;
  border: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 3px;
  margin-left: 10px;
}
input:focus{
  outline:none;
}

.kisiler-liste{
  width: 100%;
  height: 300px;
  margin-left: 30px;
  margin-top: 5px;
  overflow:hidden; 
  overflow-y:scroll;
}

.kisiler-liste::-webkit-scrollbar {
  width: 0px;
}


.kisi-container{
  width: 350px;
  height: 50px;
  background-color: #EEEEEE;
  display: flex;
  margin-top: 10px;
  border-radius: 5px;
}

.kisi-takim-container{
  width: 350px;
  height: 50px;
  background-color: #EEEEEE;
  display: flex;
  margin-top: 10px;
  border-radius: 5px;
  margin-left: 30px;
}
.profil-fotografi-container{
  width: 70px;
  height: 50px;
  /* background-color: grey; */
}
.profil-fotografi-container > img{
  width: 70px;
  height: 50px;
  border-radius: 5px 0px 0px 5px;
}
img.kisi-profilfotografi{
  width: 50px;
  height: 50px;
  
}

p.kisi-adisoyadi{
  font-family:'Roboto';
  font-size: 20px;
  font-weight: 300;
  padding-top: 8px;
  padding-left: 5px;
  color:#7D7575;
}

p.kisi-kullaniciadi{
  font-family:'Roboto';
  font-size: 14px;
  font-weight: 300;
  padding-left: 5px;
  color: #7D7575;
}
.kisi-bilgiler{
  width: 90%;
  
}

.kisiyi-takima-ekle{
  width: 70px;
  height: 50px;
  margin-left: 0px;
  cursor:pointer;
}

.kisiyi-takimdan-sil{
  width: 70px;
  height: 50px;
  margin-left: 0px;
  cursor:pointer;
}
#takima-ekleme-arti-icon{
  font-size: 25px;
  padding-left: 15px;
  padding-top: 10px;
  color: #6C63FF;
}

#takimdan-silme-icon{
  font-size: 25px;
  padding-left: 15px;
  padding-top: 10px;
  color: red !important;
}

/*Artı Button*/
.plus-button{
  width: 70px;
  height: 70px;
  background-color: #0ACC6E;
  border-radius: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom:10px;
  right: 10px;
  cursor: pointer;
}

#plus-button-icon{
  font-size: 35px;
  padding-left: 18px;
  padding-top: 18px;
  color: white;
}



/*TAKIM OLUŞTURMA FORMU*/

.takim-olustur-form-arkaplan{
  padding: 0;
  margin: 0;
  top:0;
  left: 0;
  
  width: 100%;
  height: 100vh;
  display: none; 
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 1;
}


.takim-olustur-container{
  width: 350px;
  height: 300px;
  margin-top: 100px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.takim-olustur-header{
  padding-top: 2px;
  margin-top: 20px;
}
.takim-olustur-content{
  width: 100%;
  height: 150px;
  margin-top: 20px;
}
.takim-olustur-button{
  width: 100%;
  height: 40px;
  background-color: #6C63FF;
  border-radius: 0px 0px 15px 15px;
  margin-top: 40px;
  cursor: pointer;
}
p.takim-olustur-content-header{
  font-family: "Roboto";
  font-weight: 200;
  font-size: 30px;
  color: black;
  text-align: center;
}
p.button-text{
  font-family: "Roboto";
  font-weight: 200;
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.team-name{
  width: 250px;
  height: 40px;
  border-radius: 8px;
  background-color: #F6F6F6;
  border: none;
  font-family: "Roboto";
  font-weight: 200;
  margin-left: 40px;
  margin-top: 10px;
  padding-left: 20px;
}
.takim-olustur-buttons{
  display: flex;
  width: 70%;
  margin-top: 10px;
  margin-left: 70px;
  background-color: white;
}
.team-count{
  width: 80px;
  height: 40px;
  border-radius: 8px;
  background-color: #F6F6F6;
  border: none;
  font-family: "Roboto";
  font-weight: 200;
  margin-left: 10px;
  margin-top: 5px;
  padding-left: 0px;
  text-align: center;
}
.minus{
  width: 50px;
  height: 50px;
  cursor: pointer;
}
#takim-olustur-minus-button{
  padding: 15px;
  color: #6C63FF;
}
.takim-olustur-plus{
  width: 50px;
  height: 50px;
  margin-left: 10px;
  cursor: pointer;
}
#takim-olustur-plus-button{
  padding: 15px;
  color: #6C63FF;
}

.takim-olustur-kapat-container{
  width: 100%;
  height: 30px;
  cursor: pointer;
  /* border: 1px solid red; */
}

#takim-olustur-form-kapat-icon{
  font-size: 22px;
  float: right;
  margin-right: 15px;
  margin-top: 8px;
}